.dashboard-top {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.dashboard-statistics {
  margin: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard-statistics > div {
  margin: 5px;
}
